@using LMSystem.Resource
@using LMSystem.Common
@model LMSystem.Models.UserIdentity

@*<link rel="stylesheet" type="text/css" href="~/Content/ChangePassword/custom01.css?ver=14" />*@
<link rel="stylesheet" type="text/css"
      href="~/Content/Account/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
<h2>@RegionSetting.Home_AccMaint_Link1</h2>
<form id="changepassword" class="form-horizontal" method="post" action="/Account/ChangePassword/">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="row-34">
            <div class="col-20-middle">
                <label>@RegionSetting.OldPassword_Label</label>
            </div>
            <div class="col-50-middle validate-input" data-validate="@GlobalObject.GetModelErrorMessage("userPassword",ViewData)">
                <input class="form-control conceal" autocomplete="off" type="text" name="userPassword" />
            </div>
        </div>
        <div class="row-34">
            <div class="col-20-middle">
                <label>@RegionSetting.NewPassword_Label</label>
            </div>
            <div class="col-50-middle validate-input" data-validate="@GlobalObject.GetModelErrorMessage("newPassword",ViewData)">
                <input class="form-control conceal" autocomplete="off" type="text" name="newPassword" />
            </div>
        </div>
        <div class="row-34">
            <div class="col-20-middle">
                <label>@RegionSetting.NewPasswordConfirm_Label</label>
            </div>
            <div class="col-50-middle validate-input" data-validate="@GlobalObject.GetModelErrorMessage("newPasswordConfirm",ViewData)">
                <input class="form-control conceal" autocomplete="off" type="text" name="newPasswordConfirm" />
            </div>
        </div>
        <div class="row-34">
            <div class="col-20-middle">
            </div>
            <div class="col-30-middle">
                <button type="submit" class="btn-block">
                    @RegionSetting.ChangePassword_OKbutton
                </button>
            </div>
        </div>
    </div>

</form>