@using LMSystem.Resource
@using LMSystem.Common
@using LMSystem.Models
@model LMSystem.Models.User

@{
    string notFound = (string)ViewData["NotFound"];
}

<div class="alert-panel edit-panel">
    <div class="title-bar">
        <span class="close">&times;</span>
    </div>
    @if (notFound != null)
    {
        @notFound
    }
    else
    {
        <form id="user-update-password" class="form-horizontal" method="post" action="/User/UpdatePassword">
            @Html.AntiForgeryToken()
            <div class="container-2column">
                <div class="content-column">
                    <div class="column-40 column-left">
                        <label>@Html.LabelFor(model => model.userID)</label>
                    </div>
                    <div class="column-60 column-right validate-input"
                         data-validate="@GlobalObject.GetModelErrorMessage("userID", ViewData)">
                        @Html.DisplayFor(model => model.userID)
                        @Html.HiddenFor(model => model.userID)
                    </div>
                </div>

                <div class="content-column">
                    <div class="column-40 column-left">
                        <label>@RegionSetting.NewPassword_Label</label>
                    </div>
                    <div class="column-60 column-right validate-input"
                         data-validate="@GlobalObject.GetModelErrorMessage("newPW", ViewData)">
                        <input class="form-input conceal" autocomplete="off" type="text" name="newPW" />
                    </div>
                </div>


                <div class="content-column">
                    <div class="column-40 column-left">
                        <label>@RegionSetting.NewPasswordConfirm_Label</label>
                    </div>
                    <div class="column-60 column-right validate-input"
                         data-validate="@GlobalObject.GetModelErrorMessage("cfNewPW", ViewData)">
                        <input class="form-input conceal" autocomplete="off" type="text" name="cfNewPW" />
                    </div>
                </div>


                <div class="content-column">
                    <div class="column-40 column-left">
                        <label>@RegionSetting.Admin_Password</label>
                    </div>
                    <div class="column-60 column-right validate-input"
                         data-validate="@GlobalObject.GetModelErrorMessage("adminPW", ViewData)">
                        <input class="form-input conceal" autocomplete="off" type="text" name="adminPW" />
                    </div>
                </div>
                <div class="content-column">

                </div>
                <div class="content-column">
                    <div class="column-40 column-left">

                    </div>
                    <div class="column-60 column-right">
                        <button type="submit" class="btn-block">
                            @RegionSetting.Edit_SaveChange_Caption
                        </button>
                    </div>
                </div>
            </div>
        </form>
    }

</div>

